{% extends 'base.html' %}
{% block content %}

<div class="profile-nav" style="background-color: red;">
  <b class="workouts-btn" style="color: white">Workouts</b>
  <b class="my-workouts-btn" style="color: white;">My Workouts</b>
  <b class="my-workout-split" style="color: white">Workout Calendar</b>

</div>
<div class="categories">

</div>
<div class="calendar" style="display: none;">
  <h1 style="background-color: red; color: white;">Workout Calendar</h1>
  <table class="workout-split"></table>
  <div class="calendar-workouts"></div>
</div>
<div class="workouts">
</div>




{% endblock %}